In this notebook, we will cover some of the basic aspects of getting data from external sources (flat files, Excel spreadsheets).

We will use the pandas package to accomplish these tasks.  There are other (perhaps simpler) methods within Python, but as the DataFrame object of pandas has so many nice features, we will jump right ahead to using pandas for getting input data.

In [2]:
# Let's start with getting data from a local flat text file.
#
# We begin with some basic ideas about local file system storage.

import pandas as pd

# Examine the file system

!cd '/home/brash/Phys341/'
!ls *.txt

data_header.txt  data.txt

In [3]:
!cat data.txt

1, 1.3, 0.6
2, 2.1, 0.7
3, 4.8, 0.8
4, 3.3, 0.9

In [4]:
# Note:  Pandas read_csv method assumes that the first line in the data file will be
# a header line that contains the names of each column.  If we do not have that, we 
# have to specify it explicitly.

df = pd.read_csv('data.txt', header=None)
df.head()

   0    1    2
0  1  1.3  0.6
1  2  2.1  0.7
2  3  4.8  0.8
3  4  3.3  0.9

In [5]:
# The problem here is that nobody has any idea what this data actually means!!!!
# 
# Let's look at a nicer documented data file that actually contains a header line.
#
!cat data_header.txt

Time,Distance,Error
1, 1.3, 0.6
2, 2.1, 0.7
3, 4.8, 0.8
4, 3.3, 0.9

In [6]:
df = pd.read_csv('data_header.txt')
df.head()

   Time  Distance  Error
0     1       1.3    0.6
1     2       2.1    0.7
2     3       4.8    0.8
3     4       3.3    0.9

In [7]:
# Pandas also does a nice thing which is to give us access to each column by name
print (df.Time)
print (df.Distance)
print (df.Error)

# We can also calculate new quantities from the raw data, and add these to the dataframe easily!
averageSpeed = df.Distance/df.Time
df['AverageSpeed'] = averageSpeed
df.head()

0    1
1    2
2    3
3    4
Name: Time, dtype: int64
0    1.3
1    2.1
2    4.8
3    3.3
Name: Distance, dtype: float64
0    0.6
1    0.7
2    0.8
3    0.9
Name: Error, dtype: float64

   Time  Distance  Error  AverageSpeed
0     1       1.3    0.6         1.300
1     2       2.1    0.7         1.050
2     3       4.8    0.8         1.600
3     4       3.3    0.9         0.825

In [10]:
# Now, let's try reading data from an Excel spreadsheet!!!  A ton of publicly available data is provided
# in this format.

# We will use the Pandas method called ExcelFile

xls = pd.ExcelFile('data_excel.xlsx') 
data = xls.parse('Sheet1', index_col=None, na_values=['NA'])

averageSpeed = data.Distance/df.Time
data['AverageSpeed'] = averageSpeed
data.head()

   Time  Distance  Error  AverageSpeed
0     1       1.3    0.6         1.300
1     2       2.1    0.7         1.050
2     3       4.8    0.8         1.600
3     4       3.3    0.9         0.825